:root {
    --game-width:75vw;
  }

.playertext{
    text-align: center;
    border:solid;
    border-radius: 10px;
    border-color: mediumturquoise;
    padding:5px;
    margin:10px;
}

.game{
  border: solid;
  border-radius: 10px;
  padding: 8px;
  width: var(--game-width);
  margin-bottom: 40px;
}
.game-top{
  display: flex;
  justify-content: space-between;
  width: var(--game-width)
}
.player-bottom-margin{
    margin-bottom: 5px;
}
.player-wrapper{
    display:inline-block
}

.add-button-container{
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    background-color: white;
    width: 100%;

}
.add-button{
    cursor:pointer;
}
.scale{
zoom: 1.25;
-moz-transform: scale(1.25);
}